<article class="aboutme-container">
    <section class="left">
        <h1 class="title">Hello, my name is Arno van der Kleij</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Cupiditate magni iste ea est labore dignissimos totam nobis, voluptate cumque mollitia! Quam ex tempora sunt
            odit natus nobis distinctio commodi ea? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad
            temporibus ea dolorum doloribus mollitia provident iure perferendis.
            Culpa, quo dicta quod nesciunt, earum, minus hic blanditiis in fuga sequi debitis?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam odio ab distinctio corporis nobis minima eos.
            Saepe ducimus nemo debitis, magni, vero incidunt maxime quia optio, cumque sed libero inventore? Lorem ipsum
            dolor, sit amet consectetur adipisicing elit.
            Doloribus repellendus aliquid iste deserunt. Voluptate vitae labore, dolore harum provident iste omnis
            praesentium non sunt id cupiditate minus minima corrupti deleniti!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure maxime inventore porro hic ratione repellat
            corrupti in nemo officiis, dolorum sed eaque facilis, ab sint at impedit odit ducimus autem.</p>

    </section>
    <section class="right">
        <img class="profile-pic" src="../../assets/papa.png" alt="" style="width: 70%;">
    </section>

</article>