h2 {
    color: black;
    font-weight: bold;
}



img {
    z-index: 1;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    width: fit-content;
}
.aboutme-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content {
    text-align: center;
}

.mmm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1300px !important;

    height: 100%;
    width: 100%;

    padding-bottom: 5%;
    
    color: black;
}


.thisIsme {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bio-summary {
    

}

.bio {
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    width: 100%;
}