h1 {

    color: #262d3d;
    font-size: 44px;
    line-height: 56px;
}

p {
    color: #455065;
    line-height: 1.5;
    font-size: 20px;

}

.aboutme-container {
    display: flex;
    width: 100%;
    column-gap: 5%;
    background-color: #d2d6e2;
}

.left {
    flex: 1 1 50%;
    padding: 5%;
    padding-bottom: 4%;

}

.right {
    position: relative;
    flex: 1 1 50%;
    display: flex;
}

.title {
    margin-bottom: 5%;
    max-width: 600px;
}

.profile-pic {
    /* position: absolute; */
    /* background-color: beige; */
    justify-self: center;
    align-self: center;
}