<div class="nav-container" [style.padding-left]="globalPaddingLeftAndRight"
    [style.padding-right]="globalPaddingLeftAndRight">
    <div class="logo" [style.left]="globalPaddingLeftAndRight">
        LOGO
    </div>
    <div class="item-b" (click)="scroll('home-scroll')" [class.active-bg]="isInFrameD.home">
        <a class="nav-item-style" [class.active-text]="isInFrameD.home">Home</a>
    </div>
    <div class="item-b" (click)="scroll('services-scroll')" [class.active-bg]="isInFrameD.services">
        <a class="nav-item-style" [class.active-text]="isInFrameD.services">Services</a>
    </div>
    <div class="item-b" (click)="scroll('aboutme-scroll')" [class.active-bg]="isInFrameD.aboutme">
        <a class="nav-item-style" [class.active-text]="isInFrameD.aboutme">About me</a>
    </div>
</div>