<div class="home-layout">
    <div class="grad"></div>
    <div class="home-left">
        <div class="left-content">
            <h1>Bedrijven helpen groeien</h1>
            <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ullam aperiam minima deleniti odit, 
                omnis labore sint atque cumque fugit ab, odio ex? Explicabo soluta earum id qui, quos nihil?</p>
            <button class="btn contact-btn mt-4">Contact me</button>
        </div>
       
    </div>
    <div class="home-right">
    </div>
</div>