.home-layout {
    display: flex;
    position: relative;
    background-color: rgb(245, 245, 245);
    height: 100%;
}

h1 {
    font-weight: bold;
}

.grad {
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.home-left {
    position: relative;
    z-index: 1;
    flex-basis: 50%;
    color: white;
    background-color: #11003f;
    overflow: hidden;
}

.left-content {
    margin: 15%;
    
}

.contact-btn {
    background-color: #1c923a;
    color: white;
    font-weight: bold;
}

.home-right {
    flex-grow: 1;
    background-image: url("../resources/home22.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
