<div class="base">

    <div class="catchy">
        <h1>Small business accounting, reporting, and sales coordinating.</h1>
        <br>
        <br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero eaque quia totam quos, 
            quo eius provident temporibus quibusdam architecto officia accusantium, facere a quasi maiores sint, molestiae inventore iste? Explicabo!</p>
            
        <div class="contact-info">
            <button class="btn btn-col btn-pos" type="button" (click)="directTo()">
                Contact me
            </button>
        </div>
    </div>
    <div class="img-base"></div>
</div>