.contact-layout {
    display: flex;
    width: 100%;
    gap: 3vh;
}

.form-layout {
    flex-grow: 0;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: -5vh;
    padding: 5vh;
    background-color: white;
    border-radius: 5px;
}

.network-layout {
    background-color: white;
    border-radius: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5vh;
    margin-right: -5vh;
    height: fit-content;
    gap: 1vh;
}

.form-l {
    display: flex;
    flex-direction: column;
}