* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0;
}

.form-layout {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    padding: 5%;
    background-color: #F8F9FA;

    color: black;
}

.form-control {
    border-radius: 5px;
    background-color: #F8F9FA;
    padding: 13px 20px;
}
.form-l {
    display: flex;
    flex-direction: column;
}

.send-msg-btn {
    align-self: flex-start;
    border: 2px solid #0085ac;
    color: #0085ac;
    font-weight: bold;
    border-radius: 10px;
    padding: 3% 5%;
}

.form-control {
    border: 2px solid rgb(202, 202, 202);
    transition: border 0.7s;
}

.form-control:focus {
    outline: none;
    box-shadow: none;    
    border: 2px solid rgb(90, 90, 90);
}

button:focus {
    outline: none;
    box-shadow: none;
}


button:hover {

    background: #0085ac;
    color:white; 
}


@media screen and (max-width: 880px) {

    .form-layout {
        border-radius: 0;
    }
    
}