.service-item {
}

.lab {
    color: blue;
    position: absolute;
    margin-top:-4%;

}

.item-background {
    z-index: -1;
    position: absolute;
    background-image: url("src/app/resources/farming.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;

    /* blue: rgb(20, 48, 89); */
    border-top: 9px solid #1c3892; 
    border-radius: 20px;
    transition: 0.5s;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.item-fade {
    z-index: 0;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.4;
}

h2 {
    font-weight: bold;
}

div.service-item:hover .item-background{
    box-shadow: rgba(0, 0, 0, 0.95) 0px 10px 20px;
}

.item-layout {
    padding: 5%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.item-header {
    padding-top: 4%;
    padding-bottom: 5%;
    color: white;
}

.item-body {
    color: white;
    visibility: hidden;
}