.header-wrapper {
    position: relative;
    /* margin-left: 2%; */
    /* margin-right: 2%; */
    display: flex;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

h1::before {
    content: "Lorem ipsum";
    color:#00fd9cc4;
    /* blue: #00cafd; */
}

.header-image {
    z-index: 0;
    position:absolute;
    width: 100%;
    height: 100%;

    background-image: url("../resources/home22.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 1.0;
}

.header-fade {
    z-index: 0;
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
}

.left-wrapper {
    z-index: 1;
    flex: 1 1 50%;
    padding-left: 11%;
    margin: 4% 0;
}

.right-wrapper {
    z-index: 1;
    flex: 1 1 50%;
    margin: 4% 0;
}



.body-left {
    height: 100%;
    width: 100%;
    max-width: 700px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-right: 3%;
}

.body-right {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-right: 3%;
}


@media screen and (max-width: 880px) {
    .header-wrapper {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .left-wrapper {
        padding: 15vh 8vw;
    }

    .right-wrapper {
        margin: 0;
    }

    .body-right {
        padding: 0;
        justify-content: stretch;
        align-items: stretch;
    }
}