<header class="header-wrapper">
    <div class="header-image"></div>
    <div class="header-fade"></div>

    <div class="left-wrapper">
        <div class="header-image2"></div>
        <div class="header-fade2"></div>
        <section class="body-left">
            <h1 id="safe-to-click">Lorem ipsum dolor sit amet consectetur</h1>
            <p class="pt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, voluptatibus aspernatur
                officia quas
                veritatis possimus ex, obcaecati, doloribus quae molestiae commodi temporibus maxime.</p>


            <div class="btn-wrapper">
                <button class="btn see-services">Bekijk mijn services</button>
                <button class="btn see-me">Leer meer over mij</button>
            </div>

        </section>
    </div>
    <div class="right-wrapper">
        <section class="body-right">
            <app-contact-form></app-contact-form>
        </section>
    </div>

</header>