<header class="header-wrapper">
    <div class="header-image"></div>
    <div class="header-fade"></div>

    <div class="left-wrapper">
        <section class="body-left">
            <h1 id="safe-to-click">Lorem ipsum dolor sit amet consectetur</h1>
            <p class="pt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, voluptatibus aspernatur
                officia quas
                veritatis possimus ex, obcaecati, doloribus quae molestiae commodi temporibus maxime.</p>
        </section>
        <a (click)="onScroll()" class="arrow-container" id="one">
            <div class="arrow"></div>
            <div class="arrow"></div>
            <div class="arrow"></div>
        </a>
    </div>
    <div class="right-wrapper">
        <section class="body-right">
            <app-contact-form></app-contact-form>
        </section>
    </div>
    <a (click)="onScroll()" class="arrow-container" id="two">
        <div id="arrow1" class="arrow"></div>
        <div id="arrow2" class="arrow"></div>
        <div id="arrow3" class="arrow"></div>
    </a>

</header>