<div class="page-layout">
  
  <div class="navigation-view">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link nav-f" routerLink="/" (click)="scroll(home)" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-f" routerLink="/" (click)="scroll(services)">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-f" routerLink="/" (click)="scroll(aboutme)">About me</a>
      </li>
    </ul>
  </div>  
  <div class="navigation-hidden-placeholder" #home></div>
  <div class="views">
    <div class="home-view">
      <div style="position: relative; top: -10vh;" #home></div>
      <div class="bg-img"></div>
      <div class="home-body pad-main">
        <app-homepage></app-homepage>
      </div>
    </div>
    <div class="service-view pad-main" >
      <div style="position: relative; top: -10vh;" #services></div>
      <app-services></app-services>
    </div>
    <div class="aboutme-view pad-main">
      <div style="position: relative; top: -10vh;" #aboutme></div>
      <app-about-me></app-about-me>
    </div>
  </div>
  
</div>