<!-- <div class="nav-top-wrapper-2" [class.anim]="!hideNav">
  <div class="content-size" [style.width]="currentViewportSize.width + 'px'"
    [style.max-width]="initialViewportSize.width + 'px'">
    <app-top-navigation></app-top-navigation>
  </div>
</div> -->

<div class="nav-top-container" [style.height]="initialNavHeight + 'px'">
  <div class="nav-top-wrapper">
    <app-top-navigation></app-top-navigation>
  </div>
</div>

<div class="header-container">
  <div class="home-scroll" style="position: relative; top: -1000px;" #home></div>
  <div class="header-wrapper" [style.width]="currentViewportSize.width">
    <app-header-main></app-header-main>
  </div>
</div>

<div class="services-header-container">
  <div id="services-header-scroll" style="position: relative; top: -400px;"></div>
  <div class='services-header-wrapper' [style.width]="currentViewportSize.width">
    <app-services></app-services>
  </div>
</div>

<div class="services-container">
  <div class="services-scroll" style="position: relative; top: 0px;"></div>
  <div class='services-wrapper' [style.width]="currentViewportSize.width">
    <!-- <app-services2></app-services2> -->
  </div>
</div>

<div class="aboutme-container">
  <div class="aboutme-scroll" style="position: relative; top: 0px;"></div>
  <div class='aboutme-wrapper' [style.width]="currentViewportSize.width">
    <!-- <app-about-me></app-about-me> -->
  </div>
</div>


<!-- USE THIS AS AN EXAMPLE: https://themes.muffingroup.com/be/course2_el/ -->