
<div class="service-list-header">

</div>
<div class="service-list">
    <app-service class="service-item-container">
        <ng-container itemTitle>Header</ng-container>
        
        <ng-container itemText>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate voluptatibus ad voluptatum quibusdam temporibus
                 consequatur alias vero magni animi dolor fuga, possimus vel iusto? Sapiente officiis nisi consequatur reprehenderit ad?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis numquam omnis quasi sed tempore quaerat, 
                fugit voluptatibus hic molestiae consequuntur laboriosam corrupti vitae unde in temporibus voluptatem eveniet, minus aperiam?</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo veritatis harum repudiandae totam facilis similique deserunt
                     corporis! Labore dicta amet libero, quo ipsum voluptatibus odio error quaerat enim provident ipsam.</p>
        </ng-container>
    </app-service>
    <app-service class="service-item-container">
        <ng-container itemTitle>Header</ng-container>
        
        <ng-container itemText>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate voluptatibus ad voluptatum quibusdam temporibus
                 consequatur alias vero magni animi dolor fuga, possimus vel iusto? Sapiente officiis nisi consequatur reprehenderit ad?</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo veritatis harum repudiandae totam facilis similique deserunt
                     corporis! Labore dicta amet libero, quo ipsum voluptatibus odio error quaerat enim provident ipsam.</p>
        </ng-container>
    </app-service>

    <app-service class="service-item-container">
        <ng-container itemTitle>Header</ng-container>
        
        <ng-container itemText>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate voluptatibus ad voluptatum quibusdam temporibus
                 consequatur alias vero magni animi dolor fuga, possimus vel iusto? Sapiente officiis nisi consequatur reprehenderit ad?</p>

        </ng-container>
    </app-service>

</div>