.service-list {
    display: flex;
    gap: 3vh;
}

.service-item-container {
    flex-grow: 1;
    position:relative;
    z-index: 1;
    flex-basis: 0;
}

.service-list-header {
    text-align: center;
}
