<div class="services-content" [style.padding-right]="globalPaddingLeftAndRight"
    [style.padding-left]="globalPaddingLeftAndRight">

    <div class="service-list">
        <app-service id="service1" class="service-item-container" [last-hovered]="currentHover.service1">
            <ng-container itemTitle>Verslagen</ng-container>

            <ng-container itemText>
                <p class="blue-link">Learn more</p>
            </ng-container>
        </app-service>
        <app-service id="service2" class="service-item-container" [last-hovered]="currentHover.service2">
            <ng-container itemTitle>Financiën</ng-container>

            <ng-container itemText>
                <p class="blue-link">Learn more</p>
            </ng-container>
        </app-service>

        <app-service id="service3" class="service-item-container" [last-hovered]="currentHover.service3">
            <ng-container itemTitle>Excel dashboards</ng-container>

            <ng-container itemText>
                <p class="blue-link">Learn more</p>
            </ng-container>
        </app-service>

    </div>
</div>