<div class="services-content" [style.padding-right]="globalPaddingLeftAndRight"
    [style.padding-left]="globalPaddingLeftAndRight">

    <div class="service-list">
        <app-service class="service-item-container" imageUrl="src/app/resources/farming.jpg">
            <ng-container itemTitle>Verslagen</ng-container>

            <ng-container itemText>
                <p class="blue-link">Learn more</p>
            </ng-container>
        </app-service>
        <app-service class="service-item-container">
            <ng-container itemTitle>Financiën</ng-container>

            <ng-container itemText>
                <p class="blue-link">Learn more</p>
            </ng-container>
        </app-service>

        <app-service class="service-item-container">
            <ng-container itemTitle>Excel dashboards</ng-container>

            <ng-container itemText>
                <p class="blue-link">Learn more</p>
            </ng-container>
        </app-service>

    </div>
</div>