* {
    margin: 0;
}
h4 {
    color: #3c38e5;
    font-weight: bold;
}


h1 {
  font-size: 20px;
  color: #0085ac;
  font-weight: bold;
}


.service-list {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #3c38e5;
}

.services-content {
    height: 100%;
    margin: 0 calc(10vw - 30px);
}

.service-item-container {
    flex: 1 0;
    position:relative;
    z-index: 1;
}

.blue-link {
    color: rgb(0, 153, 255);
    font-weight: bold;
}

.title {
  padding-left: 30px;
  margin-bottom: 20px;
}

@media screen and (max-width: 880px) {
    .service-list {
        flex-direction: column;
    }

    .services-content {
        margin-left: 0 ;
        margin-right: 0;
    }

    .title {
      padding-left: 8vw;
    }

}












/*  */


  .button-fancy {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 16px 42px;
    text-decoration: none;
    position: relative;
  }
  .button-fancy > .arrow {
    background-color: transparent;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 100%;
    height: 100%;
    z-index: 50;
    transform: translate(50%, -50%);
    transition: transform 0.5s ease-in, right 0.5s ease-in-out, width 0.4s ease 0.3s, height 0.3s ease 0.3s, border-width 0.4s ease-in-out, background-color 0.2s ease-in, border-color 0.4s ease-in-out;
  }
  .button-fancy > .arrow:before, .button-fancy > .arrow:after {
    background-color: transparent;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s;
    transition-delay: 0;
  }
  .button-fancy > .arrow:before {
    transform-origin: top right;
  }
  .button-fancy > .arrow:after {
    transform-origin: bottom right;
  }
  .button-fancy:hover.-white > .arrow {
    background-color: rgb(0, 153, 255);
  }
  .button-fancy:hover.-white > .arrow:before, .button-fancy:hover.-white > .arrow:after {
    background-color: rgb(0, 153, 255);
  }
  .button-fancy:hover > .arrow {
    height: 2px;
    border-width: 0;
    border-color: transparent;
    width: 56px;
    right: 0;
    transform: translate(50%, -50%);
    transition: transform 0.5s ease-in, right 0.5s ease 0.2s, width 0.4s ease, height 0.3s ease-in-out, border-width 0.3s ease-in-out, background-color 0.2s ease-in 0.3s, border-color 0.3s ease-in-out;
  }
  .button-fancy:hover > .arrow:before, .button-fancy:hover > .arrow:after {
    width: 8px;
    transition-delay: 0.4s;
  }
  .button-fancy:hover > .arrow:before {
    transform: rotate(40deg);
  }
  .button-fancy:hover > .arrow:after {
    transform: rotate(-40deg);
  }
  .button-fancy:hover > .text {
    transform: translateX(-42px);
    transition: transform 0.4s ease-in-out 0.2s;
  }
  .button-fancy.-white {
    color: rgb(0, 153, 255);
    border-color: rgb(0, 153, 255);
  }
  
  .button-fancy > .text {
    display: block;
    position: relative;
    z-index: 100;
    transition: transform 0.3s ease-in-out;
  }