<div class="service-wrapper" [style.flex-direction]="direction">
    <div class="text-wrapper">
        <div class="text-body">
            <h2>Verslagen</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, ducimus perspiciatis. Expedita quod
                fugiat neque repudiandae culpa impedit nisi, animi vero fugit aspernatur dolorum ipsam minus obcaecati
                hic
                quae nulla! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis hic expedita
                distinctio enim delectus ea.</p>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, quibusdam
                similique. Est quae natus dolorum. Consequuntur corrupti ex adipisci error quisquam perferendis
                asperiores sunt reprehenderit, dolore ea ipsam officiis aliquam.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et placeat consequuntur incidunt, a tenetur
                alias
                illum ab vel impedit quae, esse eius, ullam sunt iusto corrupti aperiam ipsam? Incidunt, ab.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod vitae aperiam nihil facilis!
            </p>
        </div>
    </div>
    <div class="image-wrapper">
        <div class="image-img"></div>
    </div>
</div>