.services-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 16vw;

}

@media screen and (max-width: 1700px) {
    .services-wrapper {
      margin: 0 12vw;
    }
  }
  
  @media screen and (max-width: 1500px) {
    .services-wrapper {
      margin: 0 8vw;
      }
  }
  
  @media screen and (max-width: 1050px) {
    .services-wrapper {
      margin: 0 5vw;
    }
  }

@media screen and (max-width: 880px) {
 
}
